/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
/* Start of "Micro clearfix" */

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

/* End of "Micro clearfix" */



.container{
  /*965px*/
  width: 80vw;
  margin: 20px auto;
  border: 1px solid black;
}

header.primary{
  /*925px*/
  background-color: rgba(0, 0, 0, 0.2);
  width: 95.855%;
  margin: 2.073%;
  float: left;
  padding: 2.073%;
}

#content {
  /*610px*/
  background: rgba(0, 0, 0, 0.2);
  float:left;
  width:63.212%;
  margin-left:2.073%;
  padding:1.037%;
}

aside{
  /*295px*/
  width:30.57%;
  float:left;
  background: rgba(0, 0, 0, 0.2);
  margin-left:2.073%;
  padding: 1.037%;
}

footer.primary{
  /*925px*/
  background: rgba(0, 0, 0, 0.2);
  width:95.855%;
  margin:2.073%;
  float:left;
  padding:1.037%;
}