/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #2a2a2a;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    border: 3px solid #8e9299;
    background-color: #DDDDDD;
}
a:focus, a:hover {
	font-style: italic;
}

/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid rgb(0, 0, 70);
		background-image: -moz-linear-gradient(
	    30deg, rgb(0, 0, 70) 0%, rgb(0, 0, 70) 30%, white 50%, rgb(0, 0, 70) 80%, rgb(0, 0, 70) 100%);
	background-image: -webkit-linear-gradient(
	    30deg, rgb(0, 0, 70) 0%, #eeedff 30%, white 50%, #eeedff 80%, rgb(0, 0, 70) 100%);
	background-image: -o-linear-gradient(
	    30deg, rgb(0, 0, 70) 0%, #eeedff 30%, white 50%, #eeedff 80%, rgb(0, 0, 70) 100%);
	background-image: linear-gradient(
	    30deg, rgb(0, 0, 70) 0%, #eeedff 30%, white 50%, #eeedff 80%, rgb(0, 0, 70) 100%);
}
header h2 {
	font-size: 175%;
	padding-left: 1em;
	color: navy;
}
header h3 {
	font-size: 130%;
	padding-left: 1em;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 3.75%;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */

#nav_menu ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
	position: relative;
}

#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
	background-image: linear-gradient(to right, #8e9299 0%, #DDDDDD 100%);
    color: black;
    font-weight: bold;
}
#nav_menu a.current {
	color: navy;
}


/* the styles for the main content */
main {
	clear: left;
}

main h1 {
	font-size: 2em;
	margin: 0.67em 0;
	padding-left: 2.5%;
	color: navy;
}

/* the styles for the section */
section {
	width: 75%;
	float: left;
	padding: 0 2.5% 2.5% 2.5%;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
}
section h2 {
	color: #020068;
	font-size: 130%;
	padding: .25em 0 .25em 0;
}
section p {
	padding-bottom: .5em;
}

#Questionaire{
	padding-left: 1em;
}

#Questionaire dl {
	padding: 0 0 .25em 1.25em;
	list-style-type: "> ";
}
#Questionaire dt {
	font-weight: bold;
	padding-bottom: .35em;
}
#Questionaire dd{
	padding: 0 0 .35em 1.5em;
}

/* the styles for the article */
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: .5em 0 1em 1em;
	border: 1px solid black;
}

/* the styles for the aside */
aside {
	width: 18%;
	float: left;
	padding: 0 0 2.5% 0px;
}
aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	background-color: rgb(0, 0, 70);
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

footer a{
	text-decoration: none;
}

@keyframes backgroundChange{
	0%{
		background-image: linear-gradient(to right, #8e9299 0%, #DDDDDD 100%);
	}
	25%{
		background-image: linear-gradient(to right, #8e9299 0%, #8e9299 25%, #DDDDDD 100%);
	}
	50%{
		background-image: linear-gradient(to right, #8e9299 0%, #8e9299 50%, #DDDDDD 100%);
	}
	75%{
		background-image: linear-gradient(to right, #8e9299 0%, #8e9299 75%, #DDDDDD 100%);
	}
	100% {
		background-image:none;
		background-color: #8e9299;
	}
}

@media screen and (min-width: 1100px){
	body{
		width: 80vw;
	}
}
@media screen and (min-width: 801px){
	body{
		width: 85vw;
	}
	#nav_menu a:focus, #nav_menu a:hover {
		display:block;
		background-image: none;
		background-color: #8e9299;
		animation-name: backgroundChange;
		animation-duration: 0.2s;
	}
}
@media screen and (max-width: 800px){
	body{
		width: 95vw;
	}
	aside{
		clear: both;
		width: 100%;
	}
	body{
		clear: both;
	}
	#nav_menu ul li a{
		background-image: none;
		background-color: #a5a9af;
	}
	#nav_menu a:focus, #nav_menu a:hover {
		display:block;
		background-image: none;
		background-color: #8e9299;
		border: 1px, solid, black;

	}
}